[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"

[packages]
fastapi = "*"
gunicorn = "*"
pydantic = "*"
uvicorn = "*"
python-jose = {extras = ["cryptography"], version = "*"}
starlette = "*"
cryptography = "*"

[requires]
python_version = "3"
